# Mac OSX ignores:
.DS_Store?
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# TextMate ignores:
*.tmproj
*.tmproject
tmtags

# vim ignores:
.*.sw[a-z]
*.un~

# Rails ignores:
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/*.yml
rerun.txt
Gemfile.lock

# MongoDB ignores:
db/local*
db/mongod.lock
